<ion-content [fullscreen]="true">
  <ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button mode="md" defaultHref="/welcome" color="white"></ion-back-button>
    </ion-buttons>
    </ion-toolbar>
    </ion-header>

  <ion-row class="logo">
    <ion-col>
        <ion-img src="assets/icon/9.jpg"></ion-img>
        <ion-label class="ion-margin-top">
          <p class="ion-text-left logoLabel">Enjoy the trip </p>
          <p class="ion-text-left">with me</p>
        </ion-label>
    </ion-col>
      </ion-row>
    </ion-content>
    <ion-footer><ion-list lines="full">
      <ion-list-header class="ion-margin">
        <label>
    Welcome Back
        </label>

        <div  align="right" class="image" >
          <ion-fab-button (click)="takePicture()" size="small" >
            <ion-icon color="white"  name="camera" size="100%"  ></ion-icon>
          </ion-fab-button>
          <ion-avatar>
            <img class="full-image"  [src] ="selectedImage ? selectedImage.webPath : '/assets/image/user.png'"  />
          </ion-avatar>
        </div>
      </ion-list-header>
      
        <ion-item-group class="ion-margin-horizontal">
         <form [formGroup]="form">

          <div class="ion-margin-vertical">
            <ion-item>
            <ion-label position="stacked">FullName</ion-label>
            <ion-input formControlName="fullname" type="fullname" placeholder="fullname">
              <ion-icon name="person-add" color="medium" slot="start"></ion-icon>
            </ion-input>
           </ion-item>
          <ion-text class="error" color="danger" *ngIf="!form.get('fullname').valid && form.get('fullname').touched">
            <ion-text *ngIf="form.get('fullname').hasError('required')">
              * Please enter your FullName.
            
          </ion-text>
          <ion-text *ngIf="!form.get('fullname').hasError('required') && form.get('fullname').hasError('minlength')">
         * FullName must be of at least 8 characters.
          </ion-text>
          </ion-text>
          </div>

           <div class="ion-margin vertical">
             <ion-item>
              <ion-label position="stacked">Email</ion-label>
          <ion-input formControlName="email" type="email" placeholder="Email Address">
            <ion-icon name="mail" slot="start" color="medium"></ion-icon>

          </ion-input>
        </ion-item>
        <ion-text class="error" color="danger"
         *ngIf="!form.get('email').valid && form.get('email').touched">
          <ion-text *ngIf="form.get('email').hasError('required')">
          * Please enter your Email Address.
          </ion-text>

        <ion-text *ngIf="!form.get('email').hasError('required') && form.get('email').hasError('email')">
       * Please enter proper Email Address.
        </ion-text>
        </ion-text>
        </div>
        <div class="ion-margin-vertical">
          <ion-item>
          <ion-label position="stacked">Telephone</ion-label>
          <ion-input formControlName="telephone" type="telephone" placeholder="telephone">
            <ion-icon name="phone-portrait" color="medium" slot="start"></ion-icon>
          </ion-input>
        </ion-item>
        <ion-text class="error" color="danger" *ngIf="!form.get('telephone').valid && form.get('telephone').touched">
          <ion-text *ngIf="form.get('telephone').hasError('required')">
            * Please enter your Telephone number.
          
        </ion-text>
        <ion-text *ngIf="!form.get('telephone').hasError('required') && form.get('telephone').hasError('minlength')">
       * Password must be of at least 8 characters.
        </ion-text>
        </ion-text>
        </div>

        <div class="ion-margin-vertical">
          <ion-item>
          <ion-label position="stacked">Password</ion-label>
          <ion-input formControlName="password" type="password" placeholder="password">
            <ion-icon name="key" color="medium" slot="start"></ion-icon>
          </ion-input>
        </ion-item>
        <ion-text class="error" color="danger" *ngIf="!form.get('password').valid && form.get('password').touched">
          <ion-text *ngIf="form.get('password').hasError('required')">
            * Please enter your Password.
          
        </ion-text>
        <ion-text *ngIf="!form.get('password').hasError('required') && form.get('password').hasError('minlength')">
       * Password must be of at least 8 characters.
        </ion-text>
        </ion-text>
        </div>
        <p class="ion-text-right"> <ion-text color="primary">Forget Password?</ion-text></p>

        <ion-button class="ion-margin-vertical"
        size="large" expand="block" shape="round"
        color="primary" 
        (click)="onSubmit()">

          <ion-text color="white">Submit</ion-text>

        </ion-button>
        </form>
       </ion-item-group>
      
        
      
    </ion-list></ion-footer>

    